.fresh blockquote,
.tease h2 {
    text-transform: uppercase;
    z-index: 1
}

.fresh .btn,
.jumbotron:after {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Varela Round', serif
}

a {
    color: #428bca;
    text-decoration: underline
}

a:focus,
a:hover {
    color: #2196F3;
    text-decoration: none
}

.avatar {
    background: #fff;
    border-radius: 15px;
    width: 30vw;
}

.jumbotron {
    border-top: 3px double #2196F3;
    border-bottom: 3px double #2196F3;
    background: #F9FFB3;
    text-align: center;
    padding: 150px 0 200px;
    position: relative
}

.jumbotron h1,
h2 {
    color: #607D8B;
    letter-spacing: 1pt;
    word-spacing: 5pt;
    line-height: 36pt
}

.jumbotron h1 {
    letter-spacing: 9pt
}

.jumbotron:after {
    background: rgba(0, 0, 0, .7);
    content: '';
    display: block;
    position: absolute
}

.fresh,
.tease {
    background: no-repeat fixed;
    background-size: cover;
    min-height: 600px;
    padding: 60px 0 0;
    overflow: hidden;
    position: relative
}

.tease {
    background-position: center bottom;
    min-height: 400px
}

.tease h2 {
    color: #fff;
    margin: 3em 2em;
    position: relative
}

.fresh blockquote {
    font-size: 2em;
    border: 0;
    position: relative
}

.fresh h1,
.fresh h2 {
    color: #fff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: 1.5pt;
    margin: 1em 2em;
    word-spacing: 2.5pt
}

.fresh h2 {
    font-size: .5em;
    margin-bottom: 4em
}

.fresh .btn {
    color: #fff;
    font-size: .62em;
    margin-right: 20px;
    text-decoration: none;
    text-shadow: 0 2px 4px #000;
    line-height: 755px;
    letter-spacing: 1pt;
    opacity: 0;
    position: absolute;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    transition: all .6s ease
}

.fresh .btn:hover {
    background: rgba(0, 0, 0, .6);
    opacity: 1
}

.preview {
    margin-top: -150px;
    text-align: center
}

.preview h2 {
    background-color: #fff;
    border-radius: 1.5em;
    display: inline-block;
    padding: 0 1.5em;
    font-size: 18px
}

.preview img {
    display: block;
    margin: 0 auto 40px;
    -webkit-box-shadow: 0 -5px 15px -10px #000;
    box-shadow: 0 -5px 15px -10px #000;
    position: relative;
    top: 10px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.preview a:hover img {
    -webkit-box-shadow: 0 10px 15px -10px #000;
    box-shadow: 0 10px 15px -10px #000;
    top: 5px
}

@media screen and (max-width:1200px) {

    .row,
    .text-right {
        text-align: center
    }
}

@media screen and (max-width:480px) {
    .fresh blockquote {
        border: 0;
        right: 0;
        top: 0;
        width: 100%
    }

    .fresh {
        min-height: 300px
    }

    img {
        width: 100%
    }
}